@import '../../_variables.scss';

.mainContainer {
  display: flex;
  justify-content: space-between;
  background-color: $black-color;

    .languageChangeBtnContainer {
      display: flex;
      gap: 20px;
      align-items: center;
      margin-right: 20px;
      width: 200px;
        
        .languageBtn {
          height: 30px;
          border-radius: 5px;
          background-color: $black-color;
          color: $white-color;
          font-family: $font-kanit;
          border: none;
          position: relative;
          &:hover {
            cursor: pointer;
          }
          &::after {
            content: '';
            position: absolute;
            background-color: $yellow-color;
            height: 3px;
            width: 0;
            left: 0;
            bottom: -3px;
            transition: 0.3s;
          }
          &:hover:after {
            width: 100%;
          }
        }
        .activeLanguage {
          &::after {
            content: '';
            position: absolute;
            background-color: $yellow-color;
            height: 3px;
            width: 100%;
            left: 0;
            bottom: -3px;
            transition: 0.3s;
          }
        }
        
      }
    .listContainer {
      display: flex;
      justify-content: space-between;
      width: 750px;
      .nameTitle {
        font-family: $font-kanit;
        color: $white-color;
        text-decoration: none;
        font-weight: $font-w-600;
        position: relative;
        margin: 0;
        user-select: none;
          &::after {
            content: '';
            position: absolute;
            background-color: $yellow-color;
            height: 3px;
            width: 0;
            left: 0;
            bottom: -5px;
            transition: 0.3s;
          }
          &:hover:after {
            width: 100%;
          }
      }
      .navLinksContainer {
        display: flex;
        justify-content: space-between;
        width: 200px;
        gap: 10px;
        font-family: $font-kanit;
          .link {
            height: 30px;
            border-radius: 5px;
            background-color: $black-color;
            color: $white-color;
            font-family: $font-kanit;
            border: none;
            position: relative;
            font-size: 1.1rem;
            &:hover {
              cursor: pointer;
            }
            &::after {
              content: '';
              position: absolute;
              background-color: $yellow-color;
              height: 3px;
              width: 0;
              left: 0;
              bottom: -3px;
              transition: 0.3s;
            }
            &:hover:after {
              width: 100%;
            }
          }
          .activeLanguage {
            &::after {
              content: '';
              position: absolute;
              background-color: $yellow-color;
              height: 3px;
              width: 100%;
              left: 0;
              bottom: -3px;
              transition: 0.3s;
            }
          }
          .activeWindow {
            &::after {
              content: '';
              position: absolute;
              background-color: $yellow-color;
              height: 3px;
              width: 100%;
              left: 0;
              bottom: -3px;
              transition: 0.3s;
            }
          }
      }
    }
}