$black-color: #000000;
$dark-gray: #4d4d4d;
$yellow-color: #be9e5f;
// $yellow-color: #4ea965;
$white-color: #FFFFFF;

$font-kanit: 'Kanit', sans-serif;
$font-rubik: 'Rubik', sans-serif;

$font-w-300: 300;
$font-w-400: 400;
$font-w-600: 600;