$dark-black: #2C3333;
$dark-blue: #395B64;
$light-blue: #A5C9CA;
$white-color: #E7F6F2;

$font-kanit: 'Kanit', sans-serif;
$font-rubik: 'Rubik', sans-serif;

$font-w-300: 300;
$font-w-400: 400;
$font-w-600: 600;