@import '../../../variables';

.mainContainer {
  width: 30%;

  .techTitle {
    color: $yellow-color;
  }

  .technologiesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
