@import '../../../variables';

.mainContainer {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .techTitle {
    color: $yellow-color;
  }

  .technologiesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
